.navbar-container {
    border-bottom: 1px solid black;
    background-color: #fafcfb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 8px;
    padding: 0 1rem;
}
.navbar > h1 {
    font-size: x-large;
}

.links {
    display: flex;
    align-items: center;
    
}

.nav-link {
    margin: 0 10px;
    color: black;
    
}

.navbar-image {
    width: 50px;
}

.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}