.sidebar-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar-container > h3{
    align-self: center;
}
.users {
    
    width: 300px;
}

.user-container {
    display: flex;
    gap: 4px;
    margin: 8px;
}

.user {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    padding: 0.5rem;
}

.user > p {
    font-size: 12px;
    width: 120px;
}

.profile-image {
    width: 40px;
    border-radius: 50%;
}

.user-container > button {
    background-color: rgb(0, 149, 246);
    border-radius: 4px;
    border: none;
    height: 30px;
    align-self: center;
    width: 80px;
    cursor: pointer;
}